<div class="container">
    <!--nav-->
    <div class="nav">
        <span class="title">給我一個IP我給你全世界</span>
        <ul class="mr-auto"></ul>
        <input type="text" class="keyword" value="keyword">
        <a href="#"><img src="/assets/search.gif" border="1"></a>
    </div>

    <!--Board-->
    <div class="board">
        <span class="department">國立臺北商業大學資訊管理系</span>
         <a href="#"><img src="/assets/board.png" alt="board"></a>
    </div>   
    
    <!--navbar-brand-->
    <nav class="navbar-brand navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="mr-auto"></ul>
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#"  style="color:grey;"><img src="/assets/arrow.gif">回首頁</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#" style="color:grey;"><img src="/assets/arrow.gif">回北商首頁</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#" style="color:grey;"><img src="/assets/arrow.gif">回管理學院</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#" style="color:grey;"><img src="/assets/arrow.gif">商業智慧研究中心</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#" style="color:grey;"><img src="/assets/arrow.gif">English Version</a>
                </li>      
            </ul>
        </div>
    </nav>

    <!--information_row-->
    <div class="info_row row">
        <!--Left-->
        <div class="left-col col-3">
            <div class="top-col col">
                <div class="list"><img src="/assets/down-arrow" alt="down-arrow">分類清單</div>
                <div class="row">
                    <div class="btn-group dropright">
                        <img src="/assets/right-arrow" alt="right-arrow">
                        <button type="button" class="btn btn-primary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">最新消息
                        <ul class="mr-5"></ul>                    
                        <img src="/assets/right-dotarrow" alt="right-dotarrow" class="dot-arrow">
                        </button>                        
                        <div class="dropdown-menu">
                            <ul>
                                <li><img src="/assets/right-dotarrow" alt="right-dotarrow" class="dot-arrow"><a href="#">系科公告</a></li>
                                <li><img src="/assets/right-dotarrow" alt="right-dotarrow" class="dot-arrow"><a href="#">活動資訊</a></li>
                                <li><img src="/assets/right-dotarrow" alt="right-dotarrow" class="dot-arrow"><a href="#">徵才資訊</a></li>
                                <li><img src="/assets/right-dotarrow" alt="right-dotarrow" class="dot-arrow"><a href="#">競賽資訊</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="btn-group dropright">
                        <img src="/assets/right-arrow" alt="right-arrow">
                        <button type="button" class="btn btn-primary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">本系介紹
                        <ul class="mr-5"></ul>
                        <img src="/assets/right-dotarrow" alt="right-dotarrow" class="dot-arrow">
                        </button>                        
                        <div class="dropdown-menu">
                            <ul>
                                <li><img src="/assets/right-dotarrow" alt="right-dotarrow" class="dot-arrow"><a href="#">培育目標</a></li>
                                <li><img src="/assets/right-dotarrow" alt="right-dotarrow" class="dot-arrow"><a href="#">發展沿革</a></li>
                                <li><img src="/assets/right-dotarrow" alt="right-dotarrow" class="dot-arrow"><a href="#">教學特色</a></li>
                                <li><img src="/assets/right-dotarrow" alt="right-dotarrow" class="dot-arrow"><a href="#">教學設備</a></li>
                                <li><img src="/assets/right-dotarrow" alt="right-dotarrow" class="dot-arrow"><a href="#">English Version</a></li>
                            </ul>
                        </div>
                    </div>
                </div>  
                <div class="row">
                    <div class="btn-group dropright">
                        <img src="/assets/right-arrow" alt="right-arrow">
                        <button type="button" class="btn btn-primary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">師資陣容
                        <ul class="mr-5"></ul>
                        <img src="/assets/right-dotarrow" alt="right-dotarrow" class="dot-arrow">
                        </button>                        
                        <div class="dropdown-menu">
                            <ul>
                                <li><img src="/assets/right-dotarrow" alt="right-dotarrow" class="dot-arrow"><a href="#">師資介紹</a></li>
                                <li><img src="/assets/right-dotarrow" alt="right-dotarrow" class="dot-arrow"><a href="#">導師名單</a></li>
                                <li><img src="/assets/right-dotarrow" alt="right-dotarrow" class="dot-arrow"><a href="#">行政人員</a></li>                                
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="btn-group dropright">
                        <img src="/assets/right-arrow" alt="right-arrow">
                        <button type="button" class="btn btn-primary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">課程規劃
                        <ul class="mr-5"></ul>
                        <img src="/assets/right-dotarrow" alt="right-dotarrow" class="dot-arrow">
                        </button>                        
                        <div class="dropdown-menu">
                            <ul>
                                <li><img src="/assets/right-dotarrow" alt="right-dotarrow" class="dot-arrow"><a href="#">課程科目表</a></li>
                                <li><img src="/assets/right-dotarrow" alt="right-dotarrow" class="dot-arrow"><a href="#">學生課程地圖~課程模組</a></li>
                                <li><img src="/assets/right-dotarrow" alt="right-dotarrow" class="dot-arrow"><a href="#">資管系學生能力指標</a></li>
                                <li><img src="/assets/right-dotarrow" alt="right-dotarrow" class="dot-arrow"><a href="#">畢業門檻</a></li>
                                <li><img src="/assets/right-dotarrow" alt="right-dotarrow" class="dot-arrow"><a href="#">資管講座</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="btn-group dropright">
                        <img src="/assets/right-arrow" alt="right-arrow">
                        <button type="button" class="btn btn-primary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">學生資源
                        <ul class="mr-5"></ul>
                        <img src="/assets/right-dotarrow" alt="right-dotarrow" class="dot-arrow">
                        </button>                        
                        <div class="dropdown-menu">
                            <ul>
                                <li><img src="/assets/right-dotarrow" alt="right-dotarrow" class="dot-arrow"><a href="#">學生專題</a></li>
                                <li><img src="/assets/right-dotarrow" alt="right-dotarrow" class="dot-arrow"><a href="#">實習專區~課程模組</a></li>                                
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="btn-group dropright">
                        <img src="/assets/right-arrow" alt="right-arrow">
                        <button type="button" class="btn btn-primary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">招生資訊
                        <ul class="mr-5"></ul>
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="btn-group dropright">
                        <img src="/assets/right-arrow" alt="right-arrow">
                        <button type="button" class="btn btn-primary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">榮譽榜單
                        <ul class="mr-5"></ul>
                        <img src="/assets/right-dotarrow" alt="right-dotarrow" class="dot-arrow">
                        </button>                        
                        <div class="dropdown-menu">
                            <ul>
                                <li><img src="/assets/right-dotarrow" alt="right-dotarrow" class="dot-arrow"><a href="#">升學榮譽榜</a></li>
                                <li><img src="/assets/right-dotarrow" alt="right-dotarrow" class="dot-arrow"><a href="#">證照榮譽榜</a></li>
                                <li><img src="/assets/right-dotarrow" alt="right-dotarrow" class="dot-arrow"><a href="#">競賽榮譽榜</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="btn-group dropright">
                        <img src="/assets/right-arrow" alt="right-arrow">
                        <button type="button" class="btn btn-primary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">FAQ
                        <ul class="mr-5"></ul>
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="btn-group dropright">
                        <img src="/assets/right-arrow" alt="right-arrow">
                        <button type="button" class="btn btn-primary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">其他資源
                        <ul class="mr-5"></ul>
                        <img src="/assets/right-dotarrow" alt="right-dotarrow" class="dot-arrow">
                        </button>                        
                        <div class="dropdown-menu">
                            <ul>
                                <li><img src="/assets/right-dotarrow" alt="right-dotarrow" class="dot-arrow"><a href="#">相關法規</a></li>
                                <li><img src="/assets/right-dotarrow" alt="right-dotarrow" class="dot-arrow"><a href="#">行事曆</a></li>
                                <li><img src="/assets/right-dotarrow" alt="right-dotarrow" class="dot-arrow"><a href="#">意見箱</a></li>
                            </ul>
                        </div>
                    </div>
                </div>                
            </div>
            
            <div class="bottom-col col border mt-5 mb-2">
                <div class="list"><img src="/assets/down-arrow" alt="down-arrow">登入</div>
                <div class="login">
                    帳號：<br>
                    <input type="text" name="account" value="請輸入帳號"><br>
                    密碼：<br>
                    <input type="text" name="password"><br>
                    認證碼：
                    <input type="text" name="account" value="請輸入下方驗證碼"><br>
                    <img src="/assets/idcode.png" alt="idcode">
                    <img src="/assets/sound.gif" alt="sound">
                </div>
                <div class="login-btn">
                 <button type="button">登入</button>
                 <a href="#">忘記密碼</a>
                </div>
            </div>          
        </div>           

        <!--Right-->
        <div class="right-col col-9">
            <div class="path">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">首頁</a></li>
                    <li class="breadcrumb-item"><a href="#">徵才資訊</a></li>
                </ol>
            </div>
            <div class="job">
                <table class="table">
                    <% @jobs.each do |jobs| %>
                        <tr>
                            <td>
                                <%= link_to jobs.title, jobs.link %> [<%= jobs.publish_date %>]<br>
                                <span><%= simple_format( jobs.info) %></span>
                            </td>
                        </tr>                        
                    <% end %>
                </table>
            </div>
            
        </div>
    </div>

</div>
