.right-col .job{
    a{
        background:#fff;
        color:#004080;
        text-decoration:none;
        
    }
}

.breadcrumb a{
    color:#004080;
    background:none;
    text-decoration: none;
}
.breadcrumb{
    background:none;
}
